<div class='row'>
  <div class='col-sm-12 col-md-12 col-lg-12'>
    <div class='card x'>
      <div class='card-body'>
        <table class="table mb-0">
          <thead>
            <tr>
              <th (click)="doOrder(column.prop)" scope="col" *ngFor="let column of columnDefs">
                <span class="header-name">{{column.displayName | uppercase}}</span>
                <span *ngIf="column.prop!=''" [ngClass]="getClass(column.prop)" class="pl-2 fa sort-icon"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngTemplateOutlet="books.length>0 ? hasData : noData"></ng-container>
            <ng-template #hasData>
              <tr *ngFor="let row of books | dataSorting:orderBy:prop; let i = index;">
                <td *ngFor="let column of columnDefs" [ngStyle]="{'width.%':column.width}">
                  <span class="row-data" [innerHTML]="row[column.prop]"></span>
                </td>
              </tr>
            </ng-template>
            <ng-template #noData>
              <tr>
                <td [attr.colspan]="columnDefs.length" class="text-center align-middle">
                  <span class="no-data">
                    No Rows
                  </span>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
